.git/*
backend/db/*
backend/owin/*
backend/owin-identityserver3/*
MVC6/artifacts/*
Angular2/src/Web/wwwroot/appScripts/*
Angular2/src/Web/wwwroot/templates/*
Angular2/src/Web/wwwroot/libs/*
**/node_modules/*
**/bin/*
**/obj/*
**/wwwroot/*
/_old/*
/backend/netcore/src/Web/app/*
**/angularjs/dist/*
**/angular/app/dist/*
**/.vs/*
*.csproj.user
**/TestResult.xml
/ui/react/web/*.js
**/App_Data/Logs/*
