**/node_modules/**/*.*
**/bin/**/*.*
**/obj/**/*.*
**/node_modules/**/*.*
**/node_modules/*
**/wwwroot/*
/backend/netcore/src/Web/app/*
**/angularjs/dist/*
**/.vs/*
*.csproj.user
**/TestResult.xml
/ui/react/web/*
**/owin/packages/*
**/App_Data/Logs/*
**/owin/Web/www/*
/backend/owin-identityserver3/packages/*
/backend/owin-identityserver3/Web/www/*
/backend/owin-identityserver3/Web/OwinAndIdServer.db
/backend/owin/Web/Owin.db
/backend/owin/Owin.sln.DotSettings.user
/backend/netcore/Mvc.sln.DotSettings.user
