artifacts/**/*.*
**/node_modules/**/*.*
**/bin/Debug/**/*.*
src/Web/node_modules/*
**/obj/**
/.vs/**/*.*
src/Web/web/**/*.js.map
src/Web/web/**/*.js
src/Web/web/**/*.css
src/Web/web/content/**/*.*
**/package-lock.json
**/TestResult.xml

