<div class="navbar navbar-inverse" role="navigation" data-ng-controller="indexController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navCollapseMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span [hidden]="!currentAuth.isAuth" class="navbar-brand">
                Welcome {{currentAuth.userName}}
            </span>
        </div>
        <div class="collapse navbar-collapse" id="navCollapseMenu">
            <ul class="nav navbar-nav navbar-right">
                <li [hidden]="!currentAuth.isAuth"><a href="#/user">Users</a></li>
                <li [hidden]="!currentAuth.isAuth"><a href="#/logMessage">System Log</a></li>
                <li [hidden]="!currentAuth.isAuth"><a href="#/logHttp">Http Log</a></li>
                <li [hidden]="!currentAuth.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                <li [hidden]="currentAuth.isAuth"> <a href="#/login">Login</a></li>
                <li [hidden]="currentAuth.isAuth"> <a href="#/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>