**/artifacts/**/*.*
**/src/Web/node_modules/*
**/src/Web/wwwroot/appScripts/**/*.*
**/src/Web/wwwroot/templates/**/*.*
**/src/Web/wwwroot/libs/**/*.*
**/node_modules/**
**/obj/Debug/**/*.*
**/bin/Debug/**/*.*
Web/bin/*.*
