.link-like-button {
    color: var(--bs-link-color);
    text-decoration: none;
    border: none;
    background: transparent;

    &:hover,
    &:focus {
        color: var(--bs-link-hover-color);
        text-decoration: underline;
    }
}

.pagination-button {
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    text-decoration: none;
    color: var(--bs-link-color);
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    margin-left: -1px;
}