.logout-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
        color: var(--bs-navbar-hover-color);
        background-color: transparent;
    }
}